:root{

     --pri: #F8F4E1;
    --sec: #381c0a;
    --tri1: #FEBA17;
    --tri2: #74512D;


    
}
@font-face {
    font-family:'cascadia';
    src: url(./CascadiaMono-VariableFont_wght.ttf);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html ,body{
width: 100%;
height: 100%;
}

h1{
    font-family: 'cascadia',sans-serif;
    color: var(--pri);
}


